@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
}
@layer components {
	.markdown {
		@apply text-gray-900 md:p-4;
	}

	.markdown > h2 {
		@apply text-xl lg:text-2xl font-bold mt-12 mb-8 bg-purple-50 px-4 py-2 lg:py-3 border-l-4 border-purple-600 shadow;
		scroll-margin-block-start: 4rem;
	}

	.markdown a {
		@apply text-blue-600 hover:underline;
	}

	.markdown p {
		@apply my-8 leading-relaxed;
	}

	.markdown span.caution {
		@apply text-gray-600 text-sm block;
	}
	.markdown span.caption {
		@apply text-gray-600 text-center text-sm block;
	}

	.markdown blockquote {
		@apply text-gray-700 italic leading-normal border-l-2 border-gray-900 px-4 py-2;
	}

	.markdown blockquote cite {
		@apply block text-right;
	}

	.markdown > ul {
		@apply my-4 list-inside;
	}
	.markdown > ul li::before {
		@apply inline-block w-2 h-2 bg-purple-400 mr-2 rounded-full;
		content: "";
	}

	.markdown > ol {
		@apply my-4 list-inside;
		counter-reset: number;
	}

	.markdown > ol li {
		@apply relative pl-10 mb-4 leading-8;
	}

	.markdown > ol li::before {
		@apply bg-purple-400 w-5 h-5 mr-2 rounded-full absolute left-0 inline-flex items-center justify-center p-4 text-gray-100 font-bold italic;
		counter-increment: number;
		content: counter(number);
	}

	.markdown table {
		@apply mx-0 my-4 w-full;
	}

	.markdown table th {
		@apply p-2 bg-gray-700 font-bold border-2 border-white text-gray-100;
	}

	.markdown table td {
		@apply p-2 border-2 border-white bg-gray-50;
	}

	.markdown hr {
		@apply border-purple-200 my-8 border-t-4 border-dotted block;
	}

	/* h2 */
	.toc .toc__content ul li {
		@apply font-bold text-gray-900 px-0 py-2;
	}
	.toc .toc__content ul li::before {
		@apply inline-block w-3 h-3 bg-gray-400 rounded-full mr-2 border-2 border-gray-500;
		content: " ";
	}
	.toc .toc__content ul li a:hover {
		@apply text-gray-600 duration-300 underline;
	}
}
