@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	/* レイアウト */
	.opacity-animation {
		animation: fadein 0.8s forwards;
	}
	@keyframes fadein {
		0% {
			opacity: 0.4;
		}
		100% {
			opacity: 1;
		}
	}
	/* 記事 */
	.fast-fadein-animation {
		animation: translate 0.5s forwards;
	}
	.slow-fadein-animation {
		animation: translate 1.25s forwards;
	}
	@keyframes translate {
		0% {
			transform: translateY(32px);
		}
		100% {
			transform: translateY(0px);
		}
	}
}

@layer components {
	.markdown {
		@apply text-gray-900 p-4 md:p-8;
	}

	.markdown strong {
		background-image: linear-gradient(
			rgba(0, 0, 0, 0) 70%,
			rgb(253, 230, 138) 70%
		);
	}

	.markdown > h2 {
		@apply text-xl lg:text-2xl font-bold mt-20 mb-12 bg-purple-50 px-4 py-2 lg:py-3 border-l-4 border-purple-600 shadow;
		scroll-margin-block-start: 4rem;
	}

	.markdown a {
		@apply text-blue-600 hover:underline;
	}

	.markdown > p {
		@apply my-8 leading-relaxed;
	}

	.markdown blockquote {
		@apply text-gray-700 italic leading-normal border-l-2 border-gray-900 px-4 py-2;
	}

	.markdown blockquote cite {
		@apply block text-right;
	}

	.markdown > ul {
		@apply my-4 list-inside;
	}
	.markdown > ul li {
		@apply mb-4 leading-6;
	}
	.markdown > ul li::before {
		@apply inline-block w-2 h-2 bg-gray-700 mr-2 rounded-full;
		content: "";
	}

	.markdown > ol {
		@apply my-4 list-inside;
		counter-reset: number;
	}

	.markdown > ol li {
		@apply relative pl-10 mb-4 leading-8;
	}

	.markdown > ol li::before {
		@apply bg-purple-50 w-5 h-5 mr-2 rounded-full absolute left-0 inline-flex items-center justify-center p-4 text-gray-700 font-bold border border-purple-300;
		counter-increment: number;
		content: counter(number);
	}

	.markdown table {
		@apply mx-0 my-4 w-full;
	}

	.markdown table th {
		@apply p-2 bg-purple-200 text-gray-800 font-semibold border-2 border-white;
	}

	.markdown table td {
		@apply p-2 border-2 border-white bg-gray-50;
	}

	.markdown > hr {
		@apply border-purple-300 my-10 border-dashed block;
	}

	/* h2 */
	.toc .toc__content ul {
		@apply mt-1;
	}
	.toc .toc__content ul li {
		@apply font-bold text-gray-700 px-0 py-1;
	}
	.toc .toc__content ul li::before {
		@apply inline-block w-2 h-2 bg-white rounded-full mr-2 border-2 border-purple-300;
		content: " ";
	}
	.toc .toc__content ul li a:hover {
		@apply text-gray-600 duration-300 underline;
	}
}
